body{
    background-color: black;
    color:white
}
.apexon{
    height:300px;
    width:40%;
}
a{
   color:red;
   text-decoration: none;
   

}
a:hover{
color:green
}

.tab{
    border:1px solid white;
    border-collapse: collapse;
    width:50%;
    text-align: center;
}
.a{
    display: flex;
    gap:2rem;
    position: static;
}
.b{
    height:200px;
    width:700px;
    background-color:white;
    border:2px solid white
}
.c{
    height:200px;
    width:700px;
    background-color:white;
    border:2px solid red
}

@media (max-width:900px){
    .b,.c{
        height:200px;
        width:100px
    }
}
